.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.container__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}
